h1,
h2,
h3 {
    text-align: center;
    text-decoration: underline;
    font-family: 'Arial', sans-serif;
}

.recipe-list {
    background-color: rgb(255, 0, 0);
    font-family: 'Arial', sans-serif;
    padding: 10px;
    margin: auto;
    width: 90%;
    
}

body {
    background-color: rgb(230, 177, 173);
}

ul,
ol,
p {
    text-align: center;
    list-style-position: inside;
    font-family: 'Arial', sans-serif;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 400px;
    width: auto;
}

.recipe-list li {
    padding: 150px;
    display: inline;
}

.homepage-images {
    display: flex;
}